# ignore the production configuraiton file
# DuetMonitorCapture.config.dist should be updated and renamed DuetMonitorCapture.config
# so updates are not overwritten or published during a git clone or git push
DuetMonitorCapture.config
snapshots