#!/bin/bash

# DuetMonitorCapture.config.dist
# This file should be renamed DuetMontiorCapture.config so it will not be
# overwritten during a clone

# Update the following variables to match your system
# The first two MUST be updated, the rest can be left as is
PRINTER=URL_TO_DUET;                    # printer hostname or ip address - ie: http://printer.local
MJPEG_SOURCE=URL_TO_STREAM;             # webcam snapshot full URL - ie: http://192.168.1.10:8080/?action=stream
TAKE_SNAPSHOTS=true;                    # take snapshots - true/false
SNAPSHOT_DIRECTORY=snapshots;           # directory to hold snapshots
LAYER_CHANGE=true;                      # take snapshots on layer change - true - on layer change, false - on time interval
QUERY_INTERVAL=5;                       # query interval (seconds)
VIDEO_FRAMERATE=.2                      # how long each snapshot will show in the completed video